<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<MakingSense_Doppler>
			<version>0.1.6.1</version>
		</MakingSense_Doppler>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<MakingSense_Doppler before="Mage_Adminhtml">MakingSense_Doppler_Adminhtml</MakingSense_Doppler>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<MakingSense_Doppler>
					<files>
						<default>MakingSense_Doppler.csv</default>
					</files>
				</MakingSense_Doppler>
			</modules>
		</translate>
		<layout>
			<updates>
				<MakingSense_Doppler>
					<file>makingsense_doppler.xml</file>
				</MakingSense_Doppler>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<helpers>
			<makingsense_doppler>
				<class>MakingSense_Doppler_Helper</class>
			</makingsense_doppler>
		</helpers>
		<blocks>
			<makingsense_doppler>
				<class>MakingSense_Doppler_Block</class>
			</makingsense_doppler>
			<adminhtml>
				<rewrite>
					<page_menu>MakingSense_Doppler_Block_Adminhtml_Page_Menu</page_menu>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
			<makingsense_doppler>
				<class>MakingSense_Doppler_Model</class>
				<resourceModel>makingsense_doppler_resource</resourceModel>
			</makingsense_doppler>
			<makingsense_doppler_resource>
				<class>MakingSense_Doppler_Model_Resource</class>
				<entities>
					<doppler_leadmap>
						<table>doppler_leadmap</table>
					</doppler_leadmap>
					<doppler_lists>
						<table>doppler_lists</table>
					</doppler_lists>
					<doppler_defaultlist>
						<table>doppler_defaultlist</table>
					</doppler_defaultlist>
					<doppler_importtasks>
						<table>doppler_importtasks</table>
					</doppler_importtasks>
				</entities>
			</makingsense_doppler_resource>
		</models>
		<resources>
			<makingsense_doppler_setup>
				<setup>
					<module>MakingSense_Doppler</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</makingsense_doppler_setup>
		</resources>
	</global>
	<frontend>
		<events>
			<controller_action_postdispatch_customer_account_createpost>
				<observers>
					<makingsense_doppler_user_registration>
						<type>singleton</type>
						<class>MakingSense_Doppler_Model_Observer</class>
						<method>userRegistration</method>
					</makingsense_doppler_user_registration>
				</observers>
			</controller_action_postdispatch_customer_account_createpost>
			<sales_model_service_quote_submit_after>
				<observers>
					<makingsense_doppler_checkout_registration>
						<type>singleton</type>
						<class>MakingSense_Doppler_Model_Observer</class>
						<method>checkoutUserRegistration</method>
					</makingsense_doppler_checkout_registration>
				</observers>
			</sales_model_service_quote_submit_after>
		</events>
	</frontend>
</config>
