<?xml version="1.0"?>
<config>
    <sections>
        <doppler translate="label" module="makingsense_doppler">
            <label>Doppler</label>
            <tab>customer</tab>
            <frontend_type>text</frontend_type>
            <sort_order>15</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <connection translate="label">
                    <label>Doppler API</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-email</validate>
                            <comment>This is your Doppler email address.</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </username>
                        <key translate="label">
                            <label>API key</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-alphanum</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </key>
                        <test_connection>
                            <label></label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <frontend_model>makingsense_doppler/system_config_form_fieldset_connection_test</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </test_connection>
                    </fields>
                </connection>
            </groups>
        </doppler>
    </sections>
</config>
